NPM_CONFIG_LEGACY_PEER_DEPS=true
NPM_CONFIG_REGISTRY=https://registry.npmjs.org/
SKIP_INSTALL_DEPS=true
VITE_GEMINI_API_KEY=AIzaSyCABZhNLpT_z5aOo3gnxKfzTOeWhqDMCpU
VITE_GEMINI_MODEL=gemini-2.5-flash
VITE_SUPABASE_ANON_KEY=sb_publishable_Hl39iP3Oj41qiywYFLrqjw_0-0iAvi4
VITE_SUPABASE_URL=https://nzravalposusjrjcwvgz.supabase.co
VITE_TOAST_API_URL=https://restapay-toast-sync.onrender.com
